# Pandas (Day-1)

In [ ]:
# import liberaries
import pandas as pd

In [ ]:
# read the data
df = pd.read_csv('./data/data.csv')

In [ ]:
# write the data
df.to_excel('awen_wala_data.xlsx')

In [ ]:
# reading an excel file
df_xl = pd.read_excel('awen_wala_data.xlsx')
df_xl

# Pandas Tips

In [ ]:
# print the variable or data in terminal
print(df)

In [ ]:
# how the data looks like
df.info()

In [ ]:
df.dtypes

In [ ]:
df.head(3)

In [ ]:
df.tail(3)

In [ ]:
df.describe()

In [ ]:
df.max()

In [ ]:
max_indices = df.idxmax()
max_indices

In [ ]:
df.iloc[10]

In [ ]:
# lets download titanic dataset
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
# load the dataset
df = sns.load_dataset('titanic')
df

# Basic information

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# Find missing values/null values/NaNs (not a number)
df.isnull().sum() # count of missing value
df.isnull().sum() / len(df) * 100 # percentage of missing values in coulm

In [ ]:
sns.heatmap(df.isnull())

In [ ]:
df.head()

In [ ]:
df['sex'].unique()

In [ ]:
df['sex'] #to select one coulm by name
df[['sex','age']] # to select two coulmn by name
df[['sex','age','fare']] # to select three coulmn by name

In [ ]:
df['sex'].unique() # unique values in a coulmn
df.sex.nunique() #find number of unique values

In [ ]:
df.nunique() # to find number of unique values in all column

In [ ]:
df.columns # to print the column names

In [ ]:
df['embark_town'].unique()

In [ ]:
# value count
df['embark_town'].value_counts()

In [ ]:
# find mean fare of both male and females using groupby function
df.groupby(['survived','sex','who']).size()

In [ ]:
# Correlation matrix
correlation_df = df[['fare','age','sibsp','parch']].corr()

In [ ]:
sns.heatmap(correlation_df, annot=True)

In [ ]:
import seaborn as sns
df = sns.load_dataset('titanic')
sns.pairplot(df)

# Mazeed pandas ki tips

In [ ]:
import seaborn as sns
df = sns.load_dataset('titanic')

In [ ]:
df.head()

## Missing values and imputing them

In [ ]:
# find out the percentage of missing values
df.isnull().sum()/len(df) *100

#1- drop the column having more than 70% missing values (deck)

In [ ]:
#1- drop the column having more than 70% missing values (deck)
df.drop('deck', axis=1, inplace=True)

In [ ]:
df.columns

In [ ]:
df['age'].mean()

In [ ]:
df['age'].median()

In [ ]:
df['age'].mode()[0]

In [ ]:
#2- filling the missing values by inserting mean values (age column)
# df['age'].fillna(df['age'].mean(), inplace=True)
df['age'] = df['age'].fillna(df['age'].mean())

In [ ]:
df.isnull().sum()

# fill the categorical variable of embarked & embarked town with mode

In [ ]:
df['embarked'] = df['embarked'].fillna(df['embarked'].mode().iloc[0])
df['embark_town'] = df['embark_town'].fillna(df['embark_town'].mode().iloc[0])

In [ ]:
df.isnull().sum()

In [ ]:
sns.heatmap(df.isnull())

# Binning

In [ ]:
df.head()

In [ ]:
df.age.min()

In [ ]:
df.age.max()

In [ ]:
sns.histplot(df['age'])

In [ ]:
# Binning of age  column into 7 categories
# bins = [0,1,5,12,18,30,50,80]
# labels = ['infants','toddlers', 'kids', 'teens', 'young', 'middle_age', 'old']

# #kis colum ko bins men convert krna hai
# pd.cut(df['age'],bins = bins, labels=labels)

In [ ]:
df.head()

# Feature Engineering

In [ ]:

bins = [0,1,5,12,18,30,50,80]
labels = ['infants','toddlers', 'kids', 'teens', 'young', 'middle_age', 'old']

#kis colum ko bins men convert krna hai
df['binned_age'] = pd.cut(df['age'],bins = bins, labels=labels)

In [ ]:
df.head()

In [ ]:
df[df['binned_age'].isnull()]

# Renaming a column

In [ ]:
df.rename(columns={'binned_age' : 'age_group'}, inplace=True)

In [ ]:
df.head()

In [ ]:
df['age_group'].value_counts().sum()

# Data Filtration

In [ ]:
# based on columns
df.columns

In [ ]:
df_01 = df[['survived', 'fare', 'class', 'age_group']]

In [ ]:
df_01.head()

In [ ]:
df_01.info()

In [ ]:
df['class'].value_counts()

# Filter the data based on rows criteria

In [ ]:
df_first = df_01[df_01['class'] == 'First']

In [ ]:
df['fare'].max()

# Lets select those rows who has paid more than 200 pounds

In [ ]:
df_200 = df_01[df_01['fare'] > 200]

In [ ]:
df_200.info()

In [ ]:
df_200['class'].value_counts()

In [ ]:
df_50 = df_01[df_01['fare']>50]
df_50['class'].value_counts()

# How to add two filters

In [ ]:
df_01[(df_01['fare'] > 70) & (df_01['class'] == 'First')].sort_values(by='fare')